/*.swiper-container {
			    width: 600px;
			    height: 300px;
			} */

* {
	margin: 0;
	padding: 0;
	-webkit-transition: all 1s ease-in;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

img {
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}

.swiper-container {
	color: #fff;
}

.img_wrap {
	width: 100%;
	height: 100%;
}

.img_1 {
	background: url(../img/page-1.jpg) no-repeat center;
	background-size: cover;
}

.logo {
	opacity: 0;
	top: 7%;
	width: 36%;
	left: 32%;
	position: absolute;
	-webkit-transition: all 1s ease-in;
}

.one_slide_1 {
	opacity: 0;
	top: 60%;
	width: 70%;
	left: 15%;
	position: absolute;
}

.pub_passdown {
	position: absolute;
	width: 10%;
	left: 45%;
	bottom: 4%;
	-webkit-animation-name: passdown;
	-webkit-animation-timing-function: ease;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
}

.img_2 {
	background: url(../img/page-5.jpg) no-repeat center;
	background-size: cover;
}

.tow_slide_1 {
	opacity: 0;
	top: 48%;
	position: absolute;
	width: 100%;
	-webkit-transition: all 1.5s linear;
}

.orange {
	text-align: center;
	width: 100%;
	color: #ff8903;
	font-weight: 800;
	font-size: 17px;
	padding: 2px 0;
}

.white {
	text-align: center;
	width: 100%;
	font-weight: 800;
	font-size: 17px;
	padding: 2px 0;
}

.img_3 {
	background: url(../img/page-2.jpg) no-repeat center;
	background-size: cover;
}

.three_slide_1 {
	opacity: 1;
	margin-top: 67%;
	margin-left: 10%;
	width: 53%;
}

.three_slide_2 {
	opacity: 1;
	margin-top: 0;
	width: 80%;
	margin-left: 10%;
}

.desc {
	font-size: 15px;
	width: 100%;
	font-weight: 800;
	text-align: left;
	color: #cccccc;
}

.img_4 {
	background: url(../img/page-3.jpg) no-repeat center;
	background-size: cover;
}

.four_slide_1 {
	opacity: 1;
	margin-top: 67%;
	margin-left: 10%;
	width: 53%;
}

.four_slide_2 {
	opacity: 1;
	margin-top: 0;
	width: 80%;
	margin-left: 10%;
}

.img_5 {
	background: url(../img/page-4.jpg) no-repeat center;
	background-size: cover;
}

.img_6 {
	background: url(../img/page-13.jpg) no-repeat center;
	background-size: cover;
}

.img_7 {
	background: url(../img/page-6.jpg) no-repeat center;
	background-size: cover;
}

.seven_slide_1 {
	opacity: 1;
	top: 48%;
	position: absolute;
	width: 100%;
}

.img_8 {
	background: url(../img/page-7.jpg) no-repeat center;
	background-size: cover;
}

.eight_slide_1 {
	opacity: 1;
	top: 55%;
	width: 56%;
	left: 22%;
	position: absolute;
}

.button {
	opacity: 1;
	top: 78%;
	width: 60%;
	left: 20%;
	position: absolute;
}

.img_9 {
	background: url(../img/page-8.jpg) no-repeat center;
	background-size: cover;
}

.img_10 {
	background: url(../img/page-9.jpg) no-repeat center;
	background-size: cover;
}

.img_11 {
	background: url(../img/page-10.jpg) no-repeat center;
	background-size: cover;
}

.img_12 {
	background: url(../img/page-11.jpg) no-repeat center;
	background-size: cover;
}

.img_13 {
	background: url(../img/page-12.jpg) no-repeat center;
	background-size: cover;
}

.shisan_slide_1 {
	opacity: 1;
	top: 42%;
	width: 100%;
	position: absolute;
}

.shisan_slide_2 {
	opacity: 1;
	top: 66%;
	position: absolute;
	width: 24%;
	left: 38%;
}

@-webkit-keyframes storyShow {
	0% {
		width: 100%;
		height: 0%;
	}
	100% {
		width: 100%;
		height: 100%;
	}
}

.storyShow {
	height: 100%;
	-webkit-animation-name: storyShow;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 1;
}

.story {
  width: 100%;
  height: 0%;   /*最初高度为0*/
  position: absolute;
  background-color: black;
  z-index: 999;
  bottom: 0;
  -webkit-transition: all .5s ease;
  /*display: none;*/
}

.storyPic {
  margin-top: 10%;
  margin-left: 34%;
  width: 32%;
}

.storyDesc {
  margin-left: 10%;
  width: 80%;
}

.xBtn {
  width: 30px;
  right: 20px;
  top: 20px;
  position: absolute;
}

.gray {
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #777;
  font-weight: 600;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 5px;
}

.storyDesc .white {
  font-size: 14px;
  text-align: left;
  color: #aaa;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.pub-passdown {
  position: absolute;
  width: 10%;
  left: 45%;
  bottom: 4%;
  -webkit-animation-name: passdown;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
}

/*箭头上下运动动画  51*/
@-webkit-keyframes passdown {
	0% {
		bottom: 5%;
	}
	50% {
		bottom: 3.2%;
	}
	100% {
		bottom: 5%;
	}
}